Backup_2026-02-10/40_n8n_backup_workflow.json
{
  "updatedAt": "2026-02-10T11:55:29.683Z",
  "createdAt": "2026-02-10T08:28:09.889Z",
  "id": "sVkLQ7gao_arw_nhylED3",
  "name": "40.n8n backup workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "4de39886-d4c4-43b1-bde8-63ad13a3f20c",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b7b5150-f49e-4e3c-aefe-eb51da2b115c",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "92bba0fa-ab5b-41a6-bc10-71f7e208a4c7",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da55afe6-e3f7-4668-af60-b1a8c7d54548",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "74bd442a-ab5e-4086-a885-9a8b3501ce4d",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "bcf5dc66-38bc-4e5c-9246-9868dd0a8aca",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        144
      ],
      "id": "331fb56f-2ba6-4bff-830a-de858f576a87",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}",
            "DateTime": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        416,
        320
      ],
      "id": "810f0eb8-a5fe-4a8d-a7d8-c3138d8f0c86",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -896,
        144
      ],
      "id": "4d9cbce0-d222-4546-95d9-7f359dec7c34",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "A8UqMhip8eWUj9i6",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe19d3a2-275c-4eb0-ab63-893ecc8ee125",
      "name": "Has Workflows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3584,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "N/A — No workflows returned",
            "Status": "error",
            "Error Type": "empty_workflow_list",
            "Error Message": "Get many workflows returned 0 workflows. API may have failed or instance has no workflows."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3344,
        48
      ],
      "id": "8f38a654-e9bc-473c-bc98-a13fa8fc1a8f",
      "name": "Log Empty Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables1').item.json.folderName }}`\n*Error:* No workflows were returned by the n8n API.\n\nPossible causes:\n• n8n API credential has expired\n• Instance has no active workflows\n• n8n API is unreachable\n\n*Action required:* Please check your n8n instance immediately.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "2e5dc97a-b62f-41f7-8a09-11c6a8a7a5eb",
      "name": "Slack — No Workflows Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3104,
        48
      ],
      "webhookId": "20f7d9e7-e652-4345-b509-0b69703ce3b9",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "N/A",
            "Status": "error",
            "Error Type": "api_fetch_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown error fetching workflows from n8n API' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3344,
        224
      ],
      "id": "090fbfdb-6c56-4c66-9a9a-52ec7cf7a5d5",
      "name": "Log API Fetch Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables1').item.json.folderName }}`\n*Error:* Failed to fetch workflows from n8n API.\n*Details:* {{ $('Log API Fetch Error').item.json['Error Message'] }}\n\n*Action required:* Backup did not run. Check n8n API credentials.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "5144be78-fe9a-4a43-b010-4143624589e3",
      "name": "Slack — API Fetch Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3104,
        224
      ],
      "webhookId": "b7ad3b58-7a02-405e-8066-a43ef8eee9ed",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content1').item.json.fileName }}",
            "Status": "error",
            "Error Type": "conversion_error",
            "Error Message": "={{ $json.error.message ?? 'Failed to convert workflow to file' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2656,
        16
      ],
      "id": "d4fe4a85-b0cc-47a1-bbe9-eec8d1c5f9af",
      "name": "Log Conversion Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content1').item.json.fileName }}",
            "Status": "error",
            "Error Type": "github_upload_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown GitHub upload error' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2432,
        16
      ],
      "id": "f12a9977-a84a-4285-8b99-c893482628b3",
      "name": "Log GitHub Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0fd43897-33bc-4c00-a7c9-f8706c808f81",
      "name": "Merge Loop Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2224,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "README.md",
            "Status": "error",
            "Error Type": "readme_creation_failure",
            "Error Message": "={{ $json.error.message ?? 'Failed to create README on GitHub' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3024,
        -336
      ],
      "id": "33a7f448-687c-4111-be41-f3f80b9ce745",
      "name": "Log README Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "30e0eec0-82d8-4085-acd1-c594ba5fa185",
      "name": "Merge Finalize",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2848,
        -448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2656,
        -448
      ],
      "id": "9f5b3196-07ed-4b83-9a1b-ceadf14f76ac",
      "name": "Read Today Error Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agg-errors",
              "name": "errorCount",
              "value": "={{ $input.all().filter(i => i.json['Status'] === 'error').length }}",
              "type": "number"
            },
            {
              "id": "agg-types",
              "name": "errorTypes",
              "value": "={{ [...new Set($input.all().filter(i => i.json['Status'] === 'error').map(i => i.json['Error Type']))].join(', ') }}",
              "type": "string"
            },
            {
              "id": "agg-total",
              "name": "totalFetched",
              "value": "={{ $('Get many workflows1').all().length }}",
              "type": "number"
            },
            {
              "id": "agg-uploaded",
              "name": "totalUploaded",
              "value": "={{ $('Get many workflows1').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length }}",
              "type": "number"
            },
            {
              "id": "agg-interrupted",
              "name": "isInterrupted",
              "value": "={{ ($('Get many workflows1').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length) < $('Get many workflows1').all().length && $input.all().filter(i => i.json['Status'] === 'error').length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "agg-folder",
              "name": "folderName",
              "value": "={{ $('Set Variables1').item.json.folderName }}",
              "type": "string"
            },
            {
              "id": "agg-starttime",
              "name": "startTime",
              "value": "={{ $('Set Variables1').item.json.startTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68af981a-ae4a-42af-9b4c-40eb8febd658",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        -448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-errors",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a082b617-ec4c-429a-a60d-6d65e505e130",
      "name": "Any Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2224,
        -448
      ]
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=⚠️ *n8n Backup Completed with Errors* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ Uploaded: {{ $json.totalUploaded }}\n• ❌ Failed: {{ $json.errorCount }}\n• 🔍 Error Types: {{ $json.errorTypes }}\n{{ $json.isInterrupted ? '\\n🚨 *BACKUP WAS INTERRUPTED* — Not all workflows were backed up.' : '' }}\n\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Full Error Log>",
        "otherOptions": {}
      },
      "id": "de381369-6e01-4f74-9fed-ca6ec2f3831d",
      "name": "Slack — Error Summary Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2032,
        -576
      ],
      "webhookId": "f196831b-95b6-4b3e-b877-eb1fdc50c4ae",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=✅ *n8n Backup Completed Successfully* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ All workflows uploaded successfully\n• 📁 GitHub: <https://github.com/sidhartha1s/n8n-workflows-backup|View Repository>",
        "otherOptions": {}
      },
      "id": "cfb9016a-25f8-4c86-9425-d283244a3891",
      "name": "Slack — Success Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2032,
        -336
      ],
      "webhookId": "60f81af0-a5f7-4940-b5a5-d981b5aee579",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "set-totalfetched",
              "name": "totalFetched",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-totaluploaded",
              "name": "totalUploaded",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-startime",
              "name": "startTime",
              "value": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c01e9b6-1c4b-499c-b54c-b3d12c7f69d1",
      "name": "Set Variables1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3968,
        0
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -3744,
        0
      ],
      "id": "93f347e0-72c8-471e-abe0-40add23efc00",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "A8UqMhip8eWUj9i6",
          "name": "n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ae36938-b918-4977-be71-1b8917eeb847",
      "name": "Split Workflows1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3344,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name.replace(/[^a-zA-Z0-9_\\-]/g, '_') }}.json",
              "type": "string"
            },
            {
              "id": "workflow-name-orig",
              "name": "workflowName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48d0c6aa-3e86-404f-b32d-aba3f2772e9b",
      "name": "Prepare File Content1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3104,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2880,
        -144
      ],
      "id": "a71dfb00-57ea-4658-9365-059f172c5fd7",
      "name": "Convert to File1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables1').item.json.folderName }}/{{ $('Prepare File Content1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} — Backup: {{ $('Prepare File Content1').item.json.workflowName }}"
      },
      "id": "ab785b22-7319-475c-961d-4bda40501b46",
      "name": "Upload to GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2656,
        -144
      ],
      "alwaysOutputData": false,
      "notesInFlow": true,
      "webhookId": "27d74d67-09fc-49b1-bad2-7b70dc6781df",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables1').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup — {{ $('Set Variables1').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows.\n\n## Backup Details\n- **Backup Date:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n- **Completed At:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n- **Total Workflows Fetched:** {{ $('Get many workflows1').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file named after the workflow.\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for {{ $('Set Variables1').item.json.folderName }}"
      },
      "id": "19082866-3091-4816-8f79-dc7b57149c24",
      "name": "Create README1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -3200,
        -432
      ],
      "webhookId": "b8fd20c1-514a-4701-8ee0-9707f88468ad",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "036d8491-21c4-4e70-969b-69c2fac694f5",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4288,
        128
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "id": "3300577e-c688-4229-a426-f5b711eac4a3",
      "name": "Daily Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -4304,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables2').item.json.folderName }}/{{ $('Prepare File Content2').item.json.fileName }}",
        "additionalParameters": {}
      },
      "id": "e768536c-d133-4ae8-aeb5-5c49e98aaf82",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -3344,
        1040
      ],
      "webhookId": "2d780f18-35ff-45b3-9bdc-2c1f910a5b1e",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables2').item.json.folderName }}/{{ $('Prepare File Content2').item.json.fileName }}",
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} — Delete before re-upload: {{ $('Prepare File Content2').item.json.workflowName }}"
      },
      "id": "73c363fa-5c30-4ea4-9246-ab78cdf08251",
      "name": "Delete Existing File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -3104,
        960
      ],
      "webhookId": "3eec71bc-78fd-4d5d-9bf9-2f04eaf0552c",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "6cf53437-48cc-4722-b16a-bf330c6e17c5",
      "name": "Merge Before Upload",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2864,
        1040
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "96ccef3b-a1f3-400f-9eae-4112aa403a46",
      "name": "Global Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -4064,
        2000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🔴 *n8n Workflow Crashed* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Workflow:* {{ $json.workflow.name }}\n*Execution ID:* {{ $json.execution.id }}\n*Error:* {{ $json.execution.error.message }}\n*Node:* {{ $json.execution.error.node?.name ?? 'Unknown' }}\n\n⚡ This is an unhandled crash — the workflow stopped unexpectedly.\n\n🔗 <{{ $json.execution.url }}|View Execution in n8n>",
        "otherOptions": {}
      },
      "id": "b44be104-a8a0-4ed0-9ad7-271c55b2e962",
      "name": "Slack — Global Crash Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3824,
        2000
      ],
      "webhookId": "6b19a655-6dfd-4c81-b4d6-05f2d671c9e1",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "set-totalfetched",
              "name": "totalFetched",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-totaluploaded",
              "name": "totalUploaded",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-startime",
              "name": "startTime",
              "value": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ea435f26-f98b-48cb-8e81-175ab51bf7eb",
      "name": "Set Variables2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4656,
        1248
      ],
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -4432,
        1248
      ],
      "id": "8e86cf7c-d60c-4fee-bacb-95ef5c86a869",
      "name": "Get many workflows2",
      "credentials": {
        "n8nApi": {
          "id": "A8UqMhip8eWUj9i6",
          "name": "n8n account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22d1b82f-b6f0-4d19-b122-30e97e3c4e19",
      "name": "Has Workflows?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4272,
        1104
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables2').item.json.folderName }}",
            "File Name": "N/A — No workflows returned",
            "Status": "error",
            "Error Type": "empty_workflow_list",
            "Error Message": "Get many workflows returned 0 workflows. API may have failed or instance has no workflows."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -4032,
        1296
      ],
      "id": "110d1d57-895b-449f-ad3a-ff0f775cdcbd",
      "name": "Log Empty Error1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables2').item.json.folderName }}`\n*Error:* No workflows were returned by the n8n API.\n\nPossible causes:\n• n8n API credential has expired\n• Instance has no active workflows\n• n8n API is unreachable\n\n*Action required:* Please check your n8n instance immediately.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "f40a9f4a-c46e-438d-840c-90d30b71d4d2",
      "name": "Slack — No Workflows Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3792,
        1296
      ],
      "webhookId": "dd1182b3-b8ed-4a9a-9357-0e6c52eaa97f",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables2').item.json.folderName }}",
            "File Name": "N/A",
            "Status": "error",
            "Error Type": "api_fetch_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown error fetching workflows from n8n API' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -4032,
        1472
      ],
      "id": "067a520f-615b-4526-bf6d-dc3adceb58ee",
      "name": "Log API Fetch Error1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables2').item.json.folderName }}`\n*Error:* Failed to fetch workflows from n8n API.\n*Details:* {{ $('Log API Fetch Error1').item.json['Error Message'] }}\n\n*Action required:* Backup did not run. Check n8n API credentials.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "9c165ee2-accf-4892-984b-1809d6a1f332",
      "name": "Slack — API Fetch Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3792,
        1472
      ],
      "webhookId": "1a6cca8f-5a38-423c-a5fe-0763064f185f",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e3b0332-167b-428b-a77a-b0179e087292",
      "name": "Split Workflows2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4032,
        1104
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name.replace(/[^a-zA-Z0-9_\\-]/g, '_') }}.json",
              "type": "string"
            },
            {
              "id": "workflow-name-orig",
              "name": "workflowName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6cb79645-6aaf-4b49-b77d-2b1f2946de64",
      "name": "Prepare File Content2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        1104
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3568,
        1104
      ],
      "id": "de68ef36-c80f-465b-be23-7cc86b315788",
      "name": "Convert to File2",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables2').item.json.folderName }}/{{ $('Prepare File Content2').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} — Backup: {{ $('Prepare File Content2').item.json.workflowName }}"
      },
      "id": "3180f127-8562-4c14-9cae-99b9e613c430",
      "name": "Upload to GitHub2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2624,
        1040
      ],
      "alwaysOutputData": false,
      "notesInFlow": true,
      "webhookId": "cb341299-94c5-41fd-a088-8a9d654e1db6",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables2').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content2').item.json.fileName }}",
            "Status": "error",
            "Error Type": "conversion_error",
            "Error Message": "={{ $json.error.message ?? 'Failed to convert workflow to file' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3344,
        1264
      ],
      "id": "1d04d0d3-a8d3-4d0f-aa37-e936241e6bd5",
      "name": "Log Conversion Error1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables2').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content2').item.json.fileName }}",
            "Status": "error",
            "Error Type": "github_upload_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown GitHub upload error' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2384,
        1200
      ],
      "id": "54d9fcae-be01-40f4-874e-309291525b6b",
      "name": "Log GitHub Error1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "414d74c8-1649-4d0f-bf5d-8a2e80624925",
      "name": "Merge Loop Paths1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2144,
        1040
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables2').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup — {{ $('Set Variables2').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows.\n\n## Backup Details\n- **Backup Date:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n- **Completed At:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n- **Total Workflows Fetched:** {{ $('Get many workflows2').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file named after the workflow.\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for {{ $('Set Variables2').item.json.folderName }}"
      },
      "id": "950c4d64-25e4-41c9-a290-4231860227dc",
      "name": "Create README2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -3888,
        816
      ],
      "webhookId": "2b830f26-f9be-458f-86b3-98041ea20704",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables2').item.json.folderName }}",
            "File Name": "README.md",
            "Status": "error",
            "Error Type": "readme_creation_failure",
            "Error Message": "={{ $json.error.message ?? 'Failed to create README on GitHub' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3712,
        912
      ],
      "id": "9ba100aa-a1f6-4b12-8369-0d5afcaf47fb",
      "name": "Log README Error1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "7405e207-7257-4b78-b2c6-fbf70caf0391",
      "name": "Merge Finalize1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3536,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3344,
        800
      ],
      "id": "51a2abe8-1de2-4d5d-a2b5-c17e9fd2cceb",
      "name": "Read Today Error Log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agg-errors",
              "name": "errorCount",
              "value": "={{ $input.all().filter(i => i.json['Status'] === 'error').length }}",
              "type": "number"
            },
            {
              "id": "agg-types",
              "name": "errorTypes",
              "value": "={{ [...new Set($input.all().filter(i => i.json['Status'] === 'error').map(i => i.json['Error Type']))].join(', ') }}",
              "type": "string"
            },
            {
              "id": "agg-total",
              "name": "totalFetched",
              "value": "={{ $('Get many workflows2').all().length }}",
              "type": "number"
            },
            {
              "id": "agg-uploaded",
              "name": "totalUploaded",
              "value": "={{ $('Get many workflows2').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length }}",
              "type": "number"
            },
            {
              "id": "agg-interrupted",
              "name": "isInterrupted",
              "value": "={{ ($('Get many workflows2').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length) < $('Get many workflows2').all().length && $input.all().filter(i => i.json['Status'] === 'error').length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "agg-folder",
              "name": "folderName",
              "value": "={{ $('Set Variables2').item.json.folderName }}",
              "type": "string"
            },
            {
              "id": "agg-starttime",
              "name": "startTime",
              "value": "={{ $('Set Variables2').item.json.startTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb114998-13d6-4f8e-923d-bb0e9aed21ca",
      "name": "Aggregate Results1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-errors",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b6365ea-3f6d-46cb-9138-1306d5386946",
      "name": "Any Errors?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2912,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=⚠️ *n8n Backup Completed with Errors* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ Uploaded: {{ $json.totalUploaded }}\n• ❌ Failed: {{ $json.errorCount }}\n• 🔍 Error Types: {{ $json.errorTypes }}\n{{ $json.isInterrupted ? '\\n🚨 *BACKUP WAS INTERRUPTED* — Not all workflows were backed up.' : '' }}\n\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Full Error Log>",
        "otherOptions": {}
      },
      "id": "3d09617c-2eb8-4278-a4fd-ff1c52924ae7",
      "name": "Slack — Error Summary Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2720,
        672
      ],
      "webhookId": "5c088126-597a-4078-9aed-8c0b2e6eba1b",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=✅ *n8n Backup Completed Successfully* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ All workflows uploaded successfully\n• 📁 GitHub: <https://github.com/sidhartha1s/n8n-workflows-backup|View Repository>",
        "otherOptions": {}
      },
      "id": "87a89d51-18b5-4a36-bd07-eb30c058b5d4",
      "name": "Slack — Success Summary1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2720,
        912
      ],
      "webhookId": "15829ff1-cf7c-4282-bd9f-d0dc6196be78",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Workflows?": {
      "main": [
        [
          {
            "node": "Split Workflows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Empty Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Empty Error": {
      "main": [
        [
          {
            "node": "Slack — No Workflows Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Fetch Error": {
      "main": [
        [
          {
            "node": "Slack — API Fetch Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversion Error": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log GitHub Error": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Loop Paths": {
      "main": [
        [
          {
            "node": "Split Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log README Error": {
      "main": [
        [
          {
            "node": "Merge Finalize",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Finalize": {
      "main": [
        [
          {
            "node": "Read Today Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Error Log": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Any Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?": {
      "main": [
        [
          {
            "node": "Slack — Error Summary Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables1": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Has Workflows?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log API Fetch Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows1": {
      "main": [
        [
          {
            "node": "Create README1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload to GitHub1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Conversion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub1": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README1": {
      "main": [
        [
          {
            "node": "Merge Finalize",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Log README Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger1": {
      "main": [
        []
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Delete Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Before Upload",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Delete Existing File": {
      "main": [
        [
          {
            "node": "Merge Before Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Before Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Before Upload": {
      "main": [
        [
          {
            "node": "Upload to GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Error Trigger": {
      "main": [
        []
      ]
    },
    "Set Variables2": {
      "main": [
        [
          {
            "node": "Get many workflows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows2": {
      "main": [
        [
          {
            "node": "Has Workflows?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log API Fetch Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Workflows?1": {
      "main": [
        [
          {
            "node": "Split Workflows2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Empty Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Empty Error1": {
      "main": [
        [
          {
            "node": "Slack — No Workflows Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Fetch Error1": {
      "main": [
        [
          {
            "node": "Slack — API Fetch Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows2": {
      "main": [
        [
          {
            "node": "Create README2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Conversion Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub2": {
      "main": [
        [
          {
            "node": "Merge Loop Paths1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log GitHub Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversion Error1": {
      "main": [
        [
          {
            "node": "Merge Loop Paths1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log GitHub Error1": {
      "main": [
        [
          {
            "node": "Merge Loop Paths1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Loop Paths1": {
      "main": [
        [
          {
            "node": "Split Workflows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README2": {
      "main": [
        [
          {
            "node": "Merge Finalize1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log README Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log README Error1": {
      "main": [
        [
          {
            "node": "Merge Finalize1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Finalize1": {
      "main": [
        [
          {
            "node": "Read Today Error Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Error Log1": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results1": {
      "main": [
        [
          {
            "node": "Any Errors?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?1": {
      "main": [
        [
          {
            "node": "Slack — Error Summary Alert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Success Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Daily Trigger": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ea71823d-6d61-4a36-995a-27de12841579",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-10T08:28:09.889Z",
      "createdAt": "2026-02-10T08:28:09.889Z",
      "role": "workflow:owner",
      "workflowId": "sVkLQ7gao_arw_nhylED3",
      "projectId": "RL6dq3Iv75Grec4D"
    }
  ],
  "activeVersion": null,
  "tags": []
}