Backup_2026-02-10/40_n8n_backup_workflow.json
{
  "updatedAt": "2026-02-10T08:57:12.035Z",
  "createdAt": "2026-02-10T08:28:09.889Z",
  "id": "sVkLQ7gao_arw_nhylED3",
  "name": "40.n8n backup workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "4de39886-d4c4-43b1-bde8-63ad13a3f20c",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b7b5150-f49e-4e3c-aefe-eb51da2b115c",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "92bba0fa-ab5b-41a6-bc10-71f7e208a4c7",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da55afe6-e3f7-4668-af60-b1a8c7d54548",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "74bd442a-ab5e-4086-a885-9a8b3501ce4d",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "bcf5dc66-38bc-4e5c-9246-9868dd0a8aca",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        144
      ],
      "id": "331fb56f-2ba6-4bff-830a-de858f576a87",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}",
            "DateTime": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        416,
        320
      ],
      "id": "810f0eb8-a5fe-4a8d-a7d8-c3138d8f0c86",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -896,
        144
      ],
      "id": "4d9cbce0-d222-4546-95d9-7f359dec7c34",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "A8UqMhip8eWUj9i6",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "fbbd7b54-b78d-410d-b2d4-c83c25259005",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4128,
        1328
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "ac4fa021-061e-44a8-b67a-89f9e4863421",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4112,
        1168
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe19d3a2-275c-4eb0-ab63-893ecc8ee125",
      "name": "Has Workflows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3552,
        832
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "N/A — No workflows returned",
            "Status": "error",
            "Error Type": "empty_workflow_list",
            "Error Message": "Get many workflows returned 0 workflows. API may have failed or instance has no workflows."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3440,
        1168
      ],
      "id": "8f38a654-e9bc-473c-bc98-a13fa8fc1a8f",
      "name": "Log Empty Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables1').item.json.folderName }}`\n*Error:* No workflows were returned by the n8n API.\n\nPossible causes:\n• n8n API credential has expired\n• Instance has no active workflows\n• n8n API is unreachable\n\n*Action required:* Please check your n8n instance immediately.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "2e5dc97a-b62f-41f7-8a09-11c6a8a7a5eb",
      "name": "Slack — No Workflows Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3200,
        1168
      ],
      "webhookId": "20f7d9e7-e652-4345-b509-0b69703ce3b9",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "N/A",
            "Status": "error",
            "Error Type": "api_fetch_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown error fetching workflows from n8n API' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -3440,
        1344
      ],
      "id": "090fbfdb-6c56-4c66-9a9a-52ec7cf7a5d5",
      "name": "Log API Fetch Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=🚨 *n8n Backup CRITICAL FAILURE* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n\n*Folder:* `{{ $('Set Variables1').item.json.folderName }}`\n*Error:* Failed to fetch workflows from n8n API.\n*Details:* {{ $('Log API Fetch Error').item.json['Error Message'] }}\n\n*Action required:* Backup did not run. Check n8n API credentials.\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Error Log>",
        "otherOptions": {}
      },
      "id": "5144be78-fe9a-4a43-b010-4143624589e3",
      "name": "Slack — API Fetch Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3200,
        1344
      ],
      "webhookId": "b7ad3b58-7a02-405e-8066-a43ef8eee9ed",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content1').item.json.fileName }}",
            "Status": "error",
            "Error Type": "conversion_error",
            "Error Message": "={{ $json.error.message ?? 'Failed to convert workflow to file' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2640,
        784
      ],
      "id": "d4fe4a85-b0cc-47a1-bbe9-eec8d1c5f9af",
      "name": "Log Conversion Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content1').item.json.fileName }}",
            "Status": "error",
            "Error Type": "github_upload_failure",
            "Error Message": "={{ $json.error.message ?? 'Unknown GitHub upload error' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2416,
        784
      ],
      "id": "f12a9977-a84a-4285-8b99-c893482628b3",
      "name": "Log GitHub Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0fd43897-33bc-4c00-a7c9-f8706c808f81",
      "name": "Merge Loop Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2208,
        624
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
            "Folder Name": "={{ $('Set Variables1').item.json.folderName }}",
            "File Name": "README.md",
            "Status": "error",
            "Error Type": "readme_creation_failure",
            "Error Message": "={{ $json.error.message ?? 'Failed to create README on GitHub' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Type",
              "displayName": "Error Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2976,
        480
      ],
      "id": "33a7f448-687c-4111-be41-f3f80b9ce745",
      "name": "Log README Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "30e0eec0-82d8-4085-acd1-c594ba5fa185",
      "name": "Merge Finalize",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2800,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4",
          "mode": "list",
          "cachedResultName": "n8n Backups Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2608,
        320
      ],
      "id": "9f5b3196-07ed-4b83-9a1b-ceadf14f76ac",
      "name": "Read Today Error Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kwTwxynkf7YLmp2t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agg-errors",
              "name": "errorCount",
              "value": "={{ $input.all().filter(i => i.json['Status'] === 'error').length }}",
              "type": "number"
            },
            {
              "id": "agg-types",
              "name": "errorTypes",
              "value": "={{ [...new Set($input.all().filter(i => i.json['Status'] === 'error').map(i => i.json['Error Type']))].join(', ') }}",
              "type": "string"
            },
            {
              "id": "agg-total",
              "name": "totalFetched",
              "value": "={{ $('Get many workflows1').all().length }}",
              "type": "number"
            },
            {
              "id": "agg-uploaded",
              "name": "totalUploaded",
              "value": "={{ $('Get many workflows1').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length }}",
              "type": "number"
            },
            {
              "id": "agg-interrupted",
              "name": "isInterrupted",
              "value": "={{ ($('Get many workflows1').all().length - $input.all().filter(i => i.json['Status'] === 'error' && i.json['Error Type'] !== 'readme_creation_failure').length) < $('Get many workflows1').all().length && $input.all().filter(i => i.json['Status'] === 'error').length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "agg-folder",
              "name": "folderName",
              "value": "={{ $('Set Variables1').item.json.folderName }}",
              "type": "string"
            },
            {
              "id": "agg-starttime",
              "name": "startTime",
              "value": "={{ $('Set Variables1').item.json.startTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68af981a-ae4a-42af-9b4c-40eb8febd658",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-errors",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a082b617-ec4c-429a-a60d-6d65e505e130",
      "name": "Any Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        320
      ]
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=⚠️ *n8n Backup Completed with Errors* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ Uploaded: {{ $json.totalUploaded }}\n• ❌ Failed: {{ $json.errorCount }}\n• 🔍 Error Types: {{ $json.errorTypes }}\n{{ $json.isInterrupted ? '\\n🚨 *BACKUP WAS INTERRUPTED* — Not all workflows were backed up.' : '' }}\n\n📋 <https://docs.google.com/spreadsheets/d/1k3t3DiZNyv_w1IZosd9Kw1Xo4Hq0LUc6pZLIkFBUVH4|View Full Error Log>",
        "otherOptions": {}
      },
      "id": "de381369-6e01-4f74-9fed-ca6ec2f3831d",
      "name": "Slack — Error Summary Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1952,
        192
      ],
      "webhookId": "f196831b-95b6-4b3e-b877-eb1fdc50c4ae",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DLM6U3JM",
          "mode": "list",
          "cachedResultName": "sidhartha"
        },
        "text": "=✅ *n8n Backup Completed Successfully* — {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n\n*Folder:* `{{ $json.folderName }}`\n*Started:* {{ $json.startTime }}\n\n*Summary:*\n• 📦 Total Workflows: {{ $json.totalFetched }}\n• ✅ All workflows uploaded successfully\n• 📁 GitHub: <https://github.com/sidhartha1s/n8n-workflows-backup|View Repository>",
        "otherOptions": {}
      },
      "id": "cfb9016a-25f8-4c86-9425-d283244a3891",
      "name": "Slack — Success Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1952,
        432
      ],
      "webhookId": "60f81af0-a5f7-4940-b5a5-d981b5aee579",
      "credentials": {
        "slackApi": {
          "id": "O62AlOYXuAYiMczt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "id": "84ed6f80-bfaa-4915-9838-2e2309225505",
      "name": "Daily Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -4320,
        1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "set-totalfetched",
              "name": "totalFetched",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-totaluploaded",
              "name": "totalUploaded",
              "value": 0,
              "type": "number"
            },
            {
              "id": "set-startime",
              "name": "startTime",
              "value": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c01e9b6-1c4b-499c-b54c-b3d12c7f69d1",
      "name": "Set Variables1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3888,
        1168
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -3664,
        1168
      ],
      "id": "93f347e0-72c8-471e-abe0-40add23efc00",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "A8UqMhip8eWUj9i6",
          "name": "n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ae36938-b918-4977-be71-1b8917eeb847",
      "name": "Split Workflows1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3328,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name.replace(/[^a-zA-Z0-9_\\-]/g, '_') }}.json",
              "type": "string"
            },
            {
              "id": "workflow-name-orig",
              "name": "workflowName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48d0c6aa-3e86-404f-b32d-aba3f2772e9b",
      "name": "Prepare File Content1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        624
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2864,
        624
      ],
      "id": "a71dfb00-57ea-4658-9365-059f172c5fd7",
      "name": "Convert to File1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables1').item.json.folderName }}/{{ $('Prepare File Content1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} — Backup: {{ $('Prepare File Content1').item.json.workflowName }}"
      },
      "id": "ab785b22-7319-475c-961d-4bda40501b46",
      "name": "Upload to GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2640,
        624
      ],
      "alwaysOutputData": false,
      "notesInFlow": true,
      "webhookId": "27d74d67-09fc-49b1-bad2-7b70dc6781df",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=sidhartha1s",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflows-backup",
          "cachedResultUrl": "https://github.com/sidhartha1s/n8n-workflows-backup"
        },
        "filePath": "={{ $('Set Variables1').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup — {{ $('Set Variables1').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows.\n\n## Backup Details\n- **Backup Date:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n- **Completed At:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }} IST\n- **Total Workflows Fetched:** {{ $('Get many workflows1').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file named after the workflow.\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for {{ $('Set Variables1').item.json.folderName }}"
      },
      "id": "19082866-3091-4816-8f79-dc7b57149c24",
      "name": "Create README1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -3136,
        400
      ],
      "webhookId": "b8fd20c1-514a-4701-8ee0-9707f88468ad",
      "credentials": {
        "githubApi": {
          "id": "NbjyfSXU2g7rFbbu",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        []
      ]
    },
    "Has Workflows?": {
      "main": [
        [
          {
            "node": "Split Workflows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Empty Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Empty Error": {
      "main": [
        [
          {
            "node": "Slack — No Workflows Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Fetch Error": {
      "main": [
        [
          {
            "node": "Slack — API Fetch Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversion Error": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log GitHub Error": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Loop Paths": {
      "main": [
        [
          {
            "node": "Split Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log README Error": {
      "main": [
        [
          {
            "node": "Merge Finalize",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Finalize": {
      "main": [
        [
          {
            "node": "Read Today Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Error Log": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Any Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?": {
      "main": [
        [
          {
            "node": "Slack — Error Summary Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger1": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables1": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Has Workflows?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log API Fetch Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows1": {
      "main": [
        [
          {
            "node": "Create README1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload to GitHub1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Conversion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub1": {
      "main": [
        [
          {
            "node": "Merge Loop Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log GitHub Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README1": {
      "main": [
        [
          {
            "node": "Merge Finalize",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Log README Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Daily Trigger": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "57145c9c-a818-4e65-82c6-cb496ca8f5a4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-10T08:28:09.889Z",
      "createdAt": "2026-02-10T08:28:09.889Z",
      "role": "workflow:owner",
      "workflowId": "sVkLQ7gao_arw_nhylED3",
      "projectId": "RL6dq3Iv75Grec4D"
    }
  ],
  "activeVersion": null,
  "tags": []
}